.gallery {
  position: relative;
  width: device-width;
  height: 900px;
  background-color: #9174db;
  overflow: hidden;
}

.gallery .hero {
  position: absolute;
  width: 1440px;
  height: 1062px;
  top: 106px;
  left: 0;
  background-color: #9174db;
  border-radius: 20px;
  overflow: hidden;
}

.gallery .text-wrapper {
  position: absolute;
  height: 30px;
  top: 73px;
  left: 632px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.gallery .frame {
  position: absolute;
  width: 1972px;
  /* height: 350px; */
  top: 181px;
  left: 152px;
  overflow-x: hidden;
}

.gallery .group {
  position: relative;
  width: 1158px;
  height: 400px;
}

.gallery .rectangle {
  left: 0;
  position: absolute;
  width: 350px;
  height: 450px;
  top: 0;
  object-fit: cover;
  overflow-x:hidden;
}

.gallery .img {
  left: 401px;
  position: absolute;
  width: 350px;
  height: 450px;
  top: 0;
  object-fit: cover;
  overflow-x:hidden;
}

.gallery .rectangle-2 {
  left: 808px;
  position: absolute;
  width: 350px;
  height: 450px;
  top: 0;
  object-fit: cover;
  overflow-x:hidden;
}

.gallery .neuralthread-wrapper {
  position: absolute;
  width: auto;
  height: 86px;
  top: 707px;
  left: 0;
  background-color: #9174db;
}

.gallery .neuralthread {
  position: absolute;
  width: 258px;
  height: 35px;
  top: 25px;
  left: 101px;
  object-fit: cover;
}

.gallery .heading {
  display: flex;
  width: 1342px;
  align-items: center;
  justify-content: space-between;
  padding: 12px 52px;
  position: absolute;
  top: 20px;
  left: 49px;
  background-color: #ffffff;
  border-radius: 70px;
  overflow: hidden;
  backdrop-filter: blur(20px) brightness(100%);
  -webkit-backdrop-filter: blur(20px) brightness(100%);
}

.gallery .neuralthread-h {
  position: relative;
  width: 258.1px;
  height: 35.32px;
  object-fit: cover;
}

.gallery .div {
  display: flex;
  width: 332px;
  align-items: center;
  justify-content: flex-end;
  gap: 36px;
  position: relative;
}

.gallery .links {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 20px;
  position: relative;
  flex: 0 0 auto;
}

.gallery .nav-item {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #2b2b2b;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position:relative;
  width: 350px;
}

/* Hide the images by default */
.mySlides-1 {
  display: none;
  height: fit-content;
}

.mySlides-2 {
  display: none;
}

.mySlides-3 {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.quote {
  position: relative;
  display: flex;
  width: fit-content;
  height: fit-content;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 12px;
  font-style: italic;
  font-weight: 300;
  line-height: 30px; /* 125% */
  margin: auto;
  text-align: left;
  float: auto;
  vertical-align: middle;
  left: 380px;
  bottom: -25px;
}

.label {
  width: 478px;
  height: 54px;
}

.label .text-wrapper {
  position: fixed;
  width: 478px;
  height: 54px;
  top: 0;
  left: 0;
  font-family: "Inter-LightItalic", Helvetica;
  font-weight: 300;
  font-style: italic;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 30px;
}


